@import "tailwindcss";
@import "tw-animate-css";

*{
  box-sizing: border-box;
}
html,body{
  padding: 0;
  width: 100%;
  height:100dvh;
  background-color: black;
  color: white;
}

@layer utilities{

  .hover-white{
    @apply transition-colors duration-300 hover:text-white
  }
  .hover-black{
    @apply transition-colors duration-300 hover:text-gray-600
  }
  .absolute-center{
    @apply top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2
  }
  .line{
    @apply border-gray-800 
  }

  .modal{
    @apply fixed top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2
  }
  .absolute-center{
    @apply absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2
  }

  .reaction-icon{
    @apply cursor-pointer hover:scale-3d hover:scale-130 transition-all duration-500
  }
}

@font-face{
  font-family: 'AtlassianSans';
  src: url('/fonts/AtlassianSans-latin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.font-insta {
  font-family: 'AtlassianSans', sans-serif;
}

.up-down-animate{
  animation-name: up-down;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.side-nav-btn{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}


@keyframes up-down {
  0% {
    transform: translateY(-2px);
  }

  50% {
    transform: translateY(2px);
  }

  100% {
    transform: translateY(-2px);
  }
}

.auth-page{
  background-image: url('/auth-bg.webp');
  background-size: cover;
}